@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0%;
    padding: 0%;
}




body {
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.first-section {
    background-image: url(picture/donation9.jpg);
    height: 700px;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    background-size: cover;
    color: white;
    justify-content: center;
    align-items: center;

}

.donate-button {
    text-decoration: none;
    color: white;
    background: tomato;
    padding: 15px 45px;
    border-radius: 10px;
    display: inline-block;
}

.first-section h1 {
    font-size: 55px;
    font-weight: 700;
}

.first-section p {
    margin: 35px;
}

.secound-section input {
    margin: 30px 0;
    padding: 20px 150px;
    text-align: center;
    font-size: 18px;
}

.secound-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 0;
}

h3 {
    font-size: 45px;
}

.secound-section p {
    margin: 20px 0;
}

.tk {
    display: flex;
}

.tk-item {
    background: rgb(230, 230, 230);
    padding: 40px 40px;
    margin: 10px;
    font-size: 30px;
    border-radius: 8px;
}

#red {
    background-color: pink;
    border: 2px solid crimson;
    color: crimson;
}

.third-section {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.third-section p {
    margin: 30px;
}



.plan-box {

    display: flex;
    width: 1200px;
}

.plan-a {
    background: #EDF5F6;
    margin: 10px;
    padding: 50px 30px;
    text-align: left;
    border-radius: 8px;
}

#shelter {
    background-color: #FFEEEE;
}

#education {
    background-color: #FFF4D6;
}

.plan-a h4 {
    font-size: 25px;
    margin-top: ;
}

.updates {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 0;
}

.updates p {
    margin: 30px 0;
}

.e-mail input {
    padding: 15px 50px 15px 10px;
    border-radius: 5px;
    border: none;
    background: #dddddd;
}

.e-mail {
    background: #FFF4D6;
    padding: 80px 0;
    border-radius: 15px;
}

footer {
    background-color: #090909;
    padding: 80px;
    color: white;
    text-align: center;

}

footer h4 {
    font-size: 35px;
    margin-bottom: 25px;
    font-family: 'Lobster', cursive;
    color: tomato;
}